@font-face {
    font-family: "Oswald";
    font-weight: 400;
    src: url(../fonts/Oswald-Regular.ttf);

}

html
body {
    box-sizing: border-box;
    margin: 0 auto;
}

/* стили к header начало */
.logo__header {
    padding: 20px;
}

ul {
    list-style-type: none;
}

.menu__link {
    text-decoration: none;
    font-size: 20px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
    
} 

.menu__link:hover {
    text-decoration: underline;
}
.header {
    display: flex;
    
}
.menu {
    display: flex;
    padding: 20px;
    position: absolute;
    
}

.menu a {
    padding: 20px;
}


.header__menu {
    display: flex;
    justify-content: end;
    width: 100%;
}
/* стили к header конец */

/* стили к div функциональное питание начало */

.block__title {
    font-size: 60px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    line-height: 60px;
    padding: 100px;

}

.block__text {
    font-size: 20px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 20px;
    
}

.block__button {
    font-size: 20px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
    background: #68B738;
    border: none;
    padding: 15px 18px;
    
}

.image {
    

}

/* стили к div функциональное питание конец */

/* стили к section class=card начало */
.card {
    display: flex;
    flex-direction: column;
    background-color: rgb(216, 211, 211);
    width: 450px;
    padding: 25px;
}

.catback {
    width: 100px;
    height: 106px;
    top: 817px;
    left: 162px;
}

.card_title {
    font-family: Oswald;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
}

.card_text {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.slim {
    font-family: Oswald;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: start;
}
/* стили к section class=card конец */

/* стили к section class=card2 начало */
.card2 {
    display: flex;
    flex-direction: column;
    background-color: rgb(216, 211, 211);
    width: 450px;
    padding: 25px;
}

.catback2 {
    width: 134px;
    height: 100px;
    top: 823px;
    left: 793px;
}

.card2_title {
    font-family: Oswald;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
}

.card2_text {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.pro {
    font-family: Oswald;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: start;
}
/* стили к section class=card2 конец */

/* стили к div class=cards начало*/
.cards {
    display: flex;
    justify-content: space-evenly;
}
/* стили к div class=cards конец */

/* стили к section class=map начало*/
.map {
    position: relative;
}

.info {
    width: 19vw;
    display: flex;
    position:absolute;
    bottom: 60px;
    left: 100px;
    background-color: white;
    padding: 20px;
    
}

.info__title {
    font-size: 20px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 21px;
    word-wrap: break-word;
}
.info__text {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 20px;
    word-wrap: normal;
}

/* стили к section class=map конец*/


/* footer стили начало */
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F2F2F2;
    height: 5vw;
}

.block2__icon {
    margin-right: 20px;
}
/* footer стили конец */