@font-face {
    font-family: "Oswald";
    font-weight: 400;
    src: url(../fonts/Oswald-Regular.ttf);

}

html
body {
    box-sizing: border-box;
    margin: 0 auto;
}

/* стили к header начало */
.logo__header {
    padding: 20px;
}

ul {
    list-style-type: none;
}

.menu__link {
    text-decoration: none;
    font-size: 20px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
    
} 

.menu__link:hover {
    text-decoration: underline;
}
.header {
    display: flex;
    
}
.menu {
    display: flex;
    justify-content:flex-end;
    padding: 20px;
    position: absolute;
    
}

.menu a {
    padding: 20px;
}


.header__menu {
    display: flex;
    justify-content: end; 
    
}

.section {
    display: flex;
}

.block {
    padding-top: 110px;
}

.image {
    display: flex;
}

.image__jar {
    width: 500px;
    height: 470px;
    padding-top: 110px;
    
}

/* стили к div функциональное питание начало */

.block__title {
    font-size: 60px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    line-height: 60px;

}

.block__text {
    font-size: 20px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 20px;
    
}

.button__one {
    font-size: 20px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
    background: #68B738;
    border: none;
    padding: 15px 18px;
    
}

/* стили к div функциональное питание конец */
/* стили к header конец */

/* стили к section class=card начало */
.card {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    width: 25vw;
    padding: 25px;
}

.catback {
    width: 100px;
    height: 106px;
    top: 817px;
    left: 162px;
}

.card__title {
    font-family: "Oswald", sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
}

.card__text {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.slim {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: start;
}
/* стили к section class=card конец */

/* стили к section class=card2 начало */
.card2 {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    width: 25vw;
    padding: 35px;
}

.catback2 {
    width: 134px;
    height: 100px;
    top: 823px;
    left: 793px;
}

.card2__title {
    font-family: "Oswald", sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
}

.card2__text {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.pro {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: start;
    padding: 42px 0;
}
/* стили к section class=card2 конец */

/* стили к div class=cards начало*/
.cards {
    display: flex;
    justify-content: space-evenly;
    padding-top: 80px;
}
/* стили к div class=cards конец */

/* стили к div class=work начало*/
.how {
    font-family: "Oswald", sans-serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: start;
    padding-left: 60px;

}

.work__stage1 {
    width: 240px;
    height: 260px;
    background-image: url("../images/1.png");
    background-repeat: no-repeat;
    background-position: 100%;
}

.work__stage2 {
    width: 240px;
    height: 260px;
    background-image: url("../images/2.png");
    background-repeat: no-repeat;
    background-position: 100%;
    
}

.work__stage3 {
    width: 240px;
    height: 260px;
    background-image: url("../images/3.png");
    background-repeat: no-repeat;
    background-position: 100%;
}

.work__stage4 {
    width: 240px;
    height: 260px;
    background-image: url("../images/4.png");
    background-repeat: no-repeat;
    background-position: 100%;
}

.work__stage_cube {
    width: 80px;
    height: 80px;
    
    left: 110px;
    padding-right: 20px;

}

.work__stage_txt {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    

}

.work {
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
}   

/* стили к div class=work конец */

/* стили к div class=example начало */

.live {
    font-family: "Oswald", sans-serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: start;
    padding-left: 60px;
}

.example__left {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    background-color: #F2F2F2;
}

.example__left__image {
    width: 200px;
}

.example__left__text1 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 60px;

}

.example__left__text2 {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
}

.example__left__images {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.example__left__p {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.example__right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    background-color: #F2F2F2;
}

.example {
    display: flex;
}

/* стили к section class=map начало*/
.map {
    position: relative;
    
}

.info {
    width: 19vw;
    display: flex;
    position:absolute;
    bottom: 60px;
    left: 100px;
    background-color: white;
    padding: 20px;
    
}

.info__title {
    font-size: 20px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 21px;
    word-wrap: break-word;
}
.info__text {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 20px;
    word-wrap: normal;
}

/* стили к section class=map конец*/


/* footer стили начало */
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F2F2F2;
    height: 5vw;
    
}

.block2__icon {
    margin-right: 20px;
}
/* footer стили конец */



/* Адаптивная верстка Header начало */

@media (max-width: 768px) {
    .menu__link {
    color: black;
    font-size: 18px;
    display: flex;
    justify-content: flex-start;
    }
    
    .menu {
        display: flex;
        justify-content: center;
        margin: auto;
        
    }

    .image__jar2 {
        display: none;
    }

    .section {
        display: flex;
        flex-direction: column;
        margin: -30px;
        word-wrap: break-word
    }

    .button__one {
    margin-top: 50px;
    position: absolute;
    
}
    .image__jar {
        padding-top: 70px;
        z-index: -1;
        
        
    }
/* адаптивная верстка Header конец */


/*Адаптив к блоку "Как это работает" начало */

.work {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
/*Адаптив к блоку "Как это работает" конец */


/* Адаптив к блоку "Живой пример" начало */
.example {
    display: flex;
    flex-direction: column;

}

.example__right {
    background-color: #F2F2F2;
    width: 100%;
    
}

.example__left {
    width: 100%;
    background-color: white;
}

.example__left__images {
    display: flex;
    justify-content: flex-start;
    padding: 30px 60px;

}

.example__left__p {
display: flex;
justify-content: flex-start;
padding-left: 60px;

}



/* Адаптив к блоку "Живой пример" конец */


/* Адаптив к блоку карты и "сотрудничество" начало */
.map {
    display: flex;
    flex-direction: column-reverse;
    
}
.map__yandex {
    position: relative;
    z-index: 0;
}

.info {
    display: flex;
    position: static;
    width: 40vw;
    
}

.info__text {
    padding-left: 350px;
    font-size: 16px;
    
}
/* Адаптив к блоку карты и "сотрудничество" конец */


/* адаптивная верстка Footer начало */

    .footer {
    display: flex;
    height: 10vw;
    }
}
/* адаптивная верстка Footer конец */




